.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

/*default */

#title {
  background-color: #ffffff;
  color: #EBC21E;
  padding: 0;
}

.container-fluid {
  padding: 3% 5%;
}

h1{
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Archivo';
  font-weight: bold;
  padding-top: 2%;

}

h2 {
  font-family: 'Archivo';

}

h3 {
  font-family: 'Archivo';
  font-weight: bold;

}

p {
  color: #8f8f8f;
  padding: 2% 2%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 ;
}

.navbar-brand{
  font-family: 'Archivo', sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
  -webkit-text-fill-color: #EBC21E;
}

.nav-item {
  padding: 0 18px;
  cursor: pointer;
  text-align: center;
  border-top: 1px solid #EBC21E;
  font-size: 1.0rem;
}


.navbar-link {
  font-family: 'Archivo', sans-serif;
  font-size: 1.5rem;
}

.navbar-toggler {
  background-color: #EBC21E;
  border: 7px solid ;
  padding: 3px 7px;
  cursor: pointer;
  margin: 5% 3% 5% 0;
}

.navbar-toggler:hover {
  background-color: #6195bf;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


/*  Intro  */
#intro {
  background-color: #CBD5E7;
  color: #000000;
  padding: 3% 5%;
}

.intro-heading {
  font-family: 'Archivo';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}


/*  Title Image  */

.title-image {
  width: 60%;
  transform: rotate(20deg);
  z-index: -1;
  position: absolute;
}

@media (max-width: 1028px){
    #title {
    text-align:center
    }
    .title-image{
      position:static;
      transform:rotate(0);
    }
}

/*  Features Section  */

#features {
  padding: 7% 15%;
  background-color: #E7DBCC;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color:#1D4737;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #1EEB70;
}

.min-font-set {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  background-color: #ffffff;
  -webkit-text-fill-color: #000;
  border: 2px solid ;
  padding: 20px 40px;
  margin: 5% 3% 5% 0;
}


/*  Testimonial section  */

#testimonials {
  padding: 0% 0%;
  text-align: center;
  background-color: #E7DBCC;
}

.carousel-item {
  padding: 3% 7%;
}

.testimonial-image {
  width:50%;
  margin: 10px;
}



/*  Call to Action CTA  */

#cta {
  background-color: #CBD5E7;
  color: #000000;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: 'Archivo';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

/*Footer Section*/

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
  color: #000;
}

.drawing-box {
  padding: 3% 7%;
  width:50%;
  height: 50%;
}

.drawing{
  align-items: center;
}

.animations{
  align-items: center;
}
.animation-box {
  padding: 3% 7%;
}

#artwork {
  background-color: #aeaaaa;
  text-align: center;
}


/*.card{
  margin: 2%;
  align-items: center;
}*/


